<div class="container mt-5">
    <div class="card text-center" style="padding: 10px">
        <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm)">
            <input type="text"
            ngModel
            name="email"
            id="email"
            placeholder="Email"
            class="form-control mb-3"
            >
            <input type="password"
            ngModel
            name="password"
            id="password"
            placeholder="Password"
            class="form-control mb-3"
            >
            <input type="submit"
            value="Sign In"
            class="btn btn-outline-primary form-control"
            >
        </form>
    </div>
</div>