<div class="container">
    <div class="card text-center" style="padding: 10px">
        <h5 class="card-title">Create New User</h5>
        <form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
            <input type="text"
            ngModel
            name="email"
            id="email"
            placeholder="Email"
            class="form-control mb-3"
            >
            <input type="password"
            ngModel
            name="password"
            id="password"
            placeholder="Password"
            class="form-control mb-3"
            >
            <input type="password"
            ngModel
            name="passconf"
            id="passconf"
            placeholder="Confirm Password"
            class="form-control mb-3"
            >
            <input type="text"
            ngModel
            name="company"
            id="company"
            placeholder="Company"
            class="form-control mb-3"
            >
            <input type="submit"
            value="Sign Up"
            class="btn btn-outline-primary form-control"
            >
        </form>
    </div>
</div>