<div class="container mt-3">
    
    <form #allSearchForm="ngForm" (ngSubmit)="allSearch(allSearchForm)">
      <div class="row">
        <div class="col">
          <input type="text"
          ngModel
          name="name"
          id="name"
          placeholder="Employee Name"
          class="form-control mb-3 col-6"
          >
        </div>
        <div class="col">
            <input type="text"
            ngModel
            name="company"
            id="company"
            placeholder="Company Name"
            class="form-control mb-3 col-6"
            >
          </div>
 

        <div class="col">
          <input type="text"
          ngModel
          name="training"
          id="training"
          placeholder="Training"
          class="form-control mb-3 col-6"
          >
        </div>

      </div>
       
        <input type="submit"
        value="Search"
        class="btn btn-outline-primary form-control mb-3"
        >
    </form>
    <div class="card text-center"><h2 *ngIf="training.length == 0">No training records available.</h2></div>
    

    <div class='card alltraining overflow-auto'>
        <div *ngIf="training.length > 0" class='card-body'>
          <div class='table-responsive'>
            <table class='table'>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Employee ID</th>
                  <th>Class</th>
                  <th>Class Date</th>
                  <th>Exp Date</th>
                  <th>Instructor</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let rec of training">
                  <td>{{rec.name}}</td>
                  <td>{{rec.employeeid}}</td>
                  <td>{{rec.training}}</td>
                  <td>{{rec.date | date: 'shortDate'}}</td>
                  <td>{{rec.expDate | date: 'shortDate'}}</td>
                  <td>{{rec.instructor}}</td>
                  <td><button class="btn btn-primary" (click)="generatePDF(rec.name, rec.training, rec.date, rec.expDate, rec.instructor)">Cert PDF</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

</div>