<div class="container ">
    <div class="card text-center" style="padding: 10px">
        <h5 class="card-title">Create New Training Record</h5>
        <form #trainingForm="ngForm" (ngSubmit)="newTraining(trainingForm)">
            <div class="row gx-1">
                <div class="col">
            <input type="text"
            ngModel
            name="class"
            id="class"
            placeholder="Class"
            class="form-control mb-1"
            ></div>
            <div class="col">
            <input type="text"
            ngModel
            name="company"
            id="company"
            placeholder="Company"
            class="form-control mb-1"
            >
            </div>
            </div>
            <div class="row gx-1">
                <div class="col">
                    <label>Training Date:</label>
            <input type="date"
            ngModel
            name="date"
            id="date"
            placeholder="Training Date"
            class="form-control mb-3"
            >
            </div>
            <div class="col">
<label>Expiration Date:</label>
            <input type="date"
            ngModel
            name="expDate"
            id="expDate"
            placeholder="Expiration Date"
            class="form-control mb-3"
            >
            </div>
            </div>
            <input type="text"
            ngModel
            name="instructor"
            id="instructor"
            placeholder="Instructor"
            class="form-control mb-3"
            >
            <div class="row gx-2">
                <div class="col">

            <input type="text"
            ngModel
            name="name"
            id="name"
            placeholder="Employee Name"
            class="form-control mb-3"
            >
            </div>
            <div class="col">

            <input type="text"
            ngModel
            name="employeeid"
            id="employeeid"
            placeholder="Employee ID"
            class="form-control mb-3"
            >
            </div>
            </div>
            <input type="submit"
            value="Add Training"
            class="btn btn-outline-primary form-control"
            >
        </form>
    </div>
</div>